<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stonksorstinks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sos_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StonksOrStinks">
        <activity
            android:name=".Tutorial"
            android:exported="true" />
        <activity
            android:name=".FinalActivity"
            android:exported="true" />
        <activity
            android:name=".PreRound"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplayerLobby"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GamePage"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitingLobby"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>